* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: white;
}



.navbar {
    padding: 0;
}
.navbar-toggler:focus {
    box-shadow: none;
}
nav .nav-item a:hover{
    color: blue !important
}